/* Global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#261253, #3e2c68);
    color: white;
    text-align: center;
    height: 100vh;
    font-size: 16px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif !important;
}

/* Main */

#container1 {
    margin: auto;
    background-color: rgba(119, 119, 119, 0.171);
    border-radius: 20px;
    margin-top: 3vh;
    color: rgba(235, 235, 235, 0.849) !important;
}

#container2 {
    margin-top: 1rem;
}

input {
    max-width: 60%;
    text-transform: capitalize;
    font-size: 1.6rem;
    border-radius: 10px;
    border: 1px solid black;
}

input:focus {
    outline: 2px solid black;
}

button {
    border-radius: 10px;
    padding: 7px;
    background-color: rgb(242, 243, 243);
    border: 1px solid rgb(0, 0, 0);
}

hr {
    width: 40%;
    margin: auto;
}

#city,
#description {
    text-transform: capitalize;
}

#country {
    text-transform: uppercase;
}

@media screen and (max-width: 992px) {
    .humidity,
    .pressure,
    .wind-speed {
        display: none !important;
    }
}

@media screen and (max-width: 576px) {
    input {
        font-size: 1rem;
        width: 100%;
    }
    button {
        padding: 1px;
        width: 30px !important;
    }
}
